{% extends "core/base.html" %}
{% load static %}

{% block extra_head %}
{% include "business/_styles.html" %}
{% endblock %}

{% block content %}
<div class="biz-wrap">
    <div class="biz-topbar">HomeFinderKE Business Workspace</div>
    <div class="biz-progress">
        {% for n in "12345" %}
            <span class="{% if step > forloop.counter %}done{% elif step == forloop.counter %}active{% endif %}"></span>
        {% endfor %}
    </div>
    <div class="biz-card">
        {% block business_content %}{% endblock %}
    </div>
</div>
{% endblock %}